/* Cascade style sheet based on fortest.dtd DTD */
sbml { display: block }
model { display: block }
notes { display: block }
body { display: block }
h1 { display: block }
table { display: block }
thead { display: block }
tr { display: block }
th { display: block }
tbody { display: block }
td { display: block }
p { display: block }
br { display: block }
a { display: block }
annotation { display: block }
rdf:RDF { display: block }
rdf:Description { display: block }
dc:creator { display: block }
rdf:Bag { display: block }
rdf:li { display: block }
vCard:N { display: block }
vCard:Family { display: block }
vCard:Given { display: block }
vCard:EMAIL { display: block }
vCard:ORG { display: block }
vCard:Orgname { display: block }
dcterms:created { display: block }
dcterms:W3CDTF { display: block }
dcterms:modified { display: block }
bqmodel:is { display: block }
bqmodel:isDescribedBy { display: block }
bqbiol:isHomologTo { display: block }
bqbiol:isVersionOf { display: block }
bqbiol:occursIn { display: block }
bqmodel:isDerivedFrom { display: block }
listOfUnitDefinitions { display: block }
unitDefinition { display: block }
listOfUnits { display: block }
unit { display: block }
listOfCompartments { display: block }
compartment { display: block }
bqbiol:is { display: block }
listOfSpecies { display: block }
species { display: block }
bqbiol:hasPart { display: block }
listOfReactions { display: block }
reaction { display: block }
listOfReactants { display: block }
speciesReference { display: block }
listOfProducts { display: block }
kineticLaw { display: block }
math { display: block }
apply { display: block }
times { display: block }
ci { display: block }
listOfParameters { display: block }
parameter { display: block }
